accelerate
datasets
gcsfs
huggingface_hub
matplotlib
numpy
pandas
safetensors
scikit_learn
scipy
sympy
termcolor
tiktoken
torch
tqdm
transformers==4.45.2
langchain
rank_bm25
wandb
sentencepiece
protobuf
packaging
ninja